apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-deployment
  namespace: sahil-ns

spec:
  replicas: 3
  selector:
    matchLabels:
      app: ecommerce
  template:
    metadata:
      labels:
        app: ecommerce
    spec:
      containers: 
      - name: ecommerce-app
        image: svsps/ecommerce-app:v1.0.1
        ports:
        - containerPort: 80
